table {
  margin-top: 50px;
  border: 1px solid black;
  width: 1500px;
  height: 200px;
}

td {
  outline: 1px solid grey;
  text-align: center;
  background-color: rgb(230, 230, 230);
}

th {
  outline: 1px solid black;
}

thead {
  outine: 1px solid black;
  background-color: rgb(200, 200, 255);
}

th:first-child {
  background-color: white;
}

tfoot td {
  background-color: rgb(255, 200, 200);
}

tfoot tr th {
  background-color: rgb(255, 160, 160);
}

ul {
  list-style-type: none;
}
